@page
@model WebsiteHotel.Pages.AboutusModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Suzanne Moore | Portfolio </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
    <title> Suzanne Moore | Portfolio </title>
    <link rel="stylesheet" href="~/css/AboutusStyle.css" />

</head>

<body>
    <section id="aboutUsInfo">
        <header class="aboutUsInfo-head">

            <h1> About me </h1>

        </header>
    </section>

    <section id="questions">
        <header class="questions-head">
            <h4>
                <br /> Hi! My name is Suzanne and I am an aspiring software developer!<br /><br />
            </h4>
            <hr class="section-break">

            <h3>
                <br /> INTRODUCTION <br /> <br />
            </h3>
            <p align="justify">
                Hi, everyone! I have my Bachelor of Science in Computer Science and graduated in March of 2021.<br/>

                <br/>

                I am passionate about software development and timely, reliable deployment of web applications. I live and breathe by daily coding and learning new technologies. I have a high level of proficiency in AWS and being able to drive a project from being just an idea into a fully accessible application/service. My personal toolkit that I use for this are AWS services such as EC2 instances for hosting, elastic beanstalk for my publishing needs that are integrated into Visual Studio and Route 53 for domain registration needs. This website is even built on this hosting solution! I use Visual Studio heavily as my IDE of choice for its GitHub and AWS integration and being able to build ASP.NET Core projects. I have a general proficiency with HTML5, CSS3, Python, JavaScript and as well as C# for making the most out of ASP.NET Core! There is so many more tools that I know, and I believe I would be a great asset to your team. Check out my resume and my FAQ page for information!

            </p>
            <br />

            <hr class="section-break">

            <h3>
                <br /> WHAT I BELIEVE <br /> <br />
            </h3>
            <p align="justify">
                I am deeply motivated by helping others. I have always been a strong believer in great customer service, and would love to have a position that promotes putting yourself in the customer's situation before making decisions. I love that the field of Computer Science gives me the opportunity to embrace creativity and produce solutions. As a “people person”—I enjoy helping others while actively listening to others’ opinions. I advocate for the importance of technology and how it will continue to change our future with productivity and economic growth. I would love to work among a team that employs an agile work environment to develop real tools to help others while learning everything I can from my team members.
            </p>
            <br />

            <hr class="section-break">

            <h3>
                <br /> WHERE I AM LOCATED AT: <a href="https://baystlouis-ms.gov/">BAY SAINT LOUIS, MS</a>
            </h3>


        </header>
    </section>

    <section id="locationInfo">
        <header class="locationInfo-head">

            <h1> Bay Saint Louis </h1>

        </header>
    </section>

    <footer>
        <div class="footer-wrapper">
            <h5>Suzanne Moore</h5>
            <ul>
                <li>
                    <a href="https://github.com/Suzannemoore" title="twitter-social-media">
                        <img src="./icons/github.svg" alt="twitter-social-media" />
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/suzanne-moore-b66409211/" title="youtube-social-media">
                        <img src="./icons/linkedin.svg" alt="youtube-social-media" />
                    </a>
                </li>

            </ul>
        </div>
    </footer>


    @*Resize*@
    <style>

        .body-container {
            /*remove the container default padding attribute*/
            padding-left: 0px !important;
            padding-right: 0px !important;
            /*increase width as per your need*/
            max-width: 100%;
        }
    </style>

</body>
</html>
