@page
@model WebsiteHotel.Pages.ProjectsModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Suzanne Moore | Portfolio </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
    <title> Suzanne Moore | Portfolio </title>
    <link rel="stylesheet" href="~/css/ProjectsStyle.css" />

</head>

<body>
    <section id="introProjects">
        <header class="introProjects-head">
            <br /><br /><h1> Projects </h1>
        </header>
    </section>

    <section id="projectIntroducation">

        <div class="content">

            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-79466112b075eabd464c"></div>

            <div class="projects">
                <h3>Start Up Portfolio</h3><br />

                <div class="projectDetails">
                    <p>
                        This was my very first personal portfoilo I created when graduating from college. This project required knowledge of AWS, C#, HTML/CSS, and AWS Elastic Beanstalk for deploying<br />

                        GitHub: <a href="https://github.com/Suzannemoore/PersonalPortflioOld">FIRST PORTFOLIO GITHUB REPOSITORY</a>

                        <center><img src="~/img/portfolio1.png" alt="centered image" height="300" width="400"> </center>



                    </p>

                </div>
            </div>

            <div class="projects">
                <h3>Swoose Travel Company Demo</h3><br />

                <div class="projectDetails">

                    <p>
                        This was a project I worked on independtly to learn more about webpage design, Razor pages, C#, and AWS. This project uses the AWS cloud with HTML/CSS and C# with AWS Elastic Beanstalk for deploying.<br />

                        GitHub: <a href="https://github.com/Suzannemoore/SwooseTravel">SWOOSE TRAVEL GITHUB REPOSITORY</a>

                        <center><img src="~/img/swoose.jpg" alt="centered image" height="300" width="400"> </center>

                    </p>

                </div>
            </div>

            <div class="projects">
                <h3>Current Portfoilo - Suzanne Moore | Portfolio</h3><br />

                <div class="projectDetails">

                    <p>
                        Current portfolio in use 2021. This project uses the AWS cloud with HTML/CSS and C# <br />

                        GitHub: <a href="https://github.com/Suzannemoore/PersonalPortfolio2021">BAY SAINT LOUIS, MS</a>

                        <center><img src="~/img/current_pro.jpg" alt="centered image" height="300" width="400"> </center>

                    </p>

                </div>
            </div>

            <div class="projects">
                <h3>Unity Games</h3><br />

                <div class="projectDetails">

                    <p>
                        Current Unity Project for Christmas. This project was created in Unity Hub with C3 Scripts. This project required the knowledge of Visual Studio and how to build a solid foundation for game design.
                        <br />

                        GitHub: <a href="https://github.com/Suzannemoore/SantaUnityGame">SANTA GAME GITHUB REPOSITORY</a>

                        <center><img src="~/img/unity.png" alt="centered image" height="250" width="400"> </center>

                    </p>

                </div>
            </div>

            <div class="projects">
                <h3>Capstone Project 2021</h3><br />

                <div class="projectDetails">

                    <p>
                        This project was for my senior year project. This project allowed users to view facts about animals at a local zoo.<br />

                        GitHub: <a href="https://github.com/Suzannemoore/CSC-424">ZOO GUIDE GITHUB REPOSITORY</a>

                        <center><img src="~/img/map.png" alt="centered image" height="400" width=""> </center>

                    </p>

                </div>
            </div>

        </div>

    </section>

    <footer>
        <div class="footer-wrapper">
            <h5>Suzanne Moore</h5>
            <ul>
                <li>
                    <a href="https://github.com/Suzannemoore" title="twitter-social-media">
                        <img src="./icons/github.svg" alt="twitter-social-media" />
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/suzanne-moore-b66409211/" title="youtube-social-media">
                        <img src="./icons/linkedin.svg" alt="youtube-social-media" />
                    </a>
                </li>

            </ul>
        </div>
    </footer>

    @*Resize*@
    <style>

        .body-container {
            /*remove the container default padding attribute*/
            padding-left: 0px !important;
            padding-right: 0px !important;
            /*increase width as per your need*/
            max-width: 100%;
        }
    </style>
</body>
</html>